# Set default behavior for text files
* text=auto

# Specify LF for YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Set default behavior for all text files
* text=auto

# Specify LF for the Dockerfile
Dockerfile text eol=lf

# Set default behavior for text files
* text=auto

# Specify LF for Terraform files
*.tf text eol=lf